body {
  display: flex;
  background-color: #fcc;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
